[Unit]
Description=Serviço Lunes node
After=network.target

[Service]
Type=simple
Restart=always
RestartSec=1
User=root
ExecStart=/usr/bin/bash /lunes-nightly/scripts/script-node.sh

[Install]
WantedBy=multi-user.target