[Unit]
Description=Bootnode Lunes nightly
After=network.target

[Service]
Type=simple
Restart=always
RestartSec=1
User=root
ExecStart=./target/release/lunes-node \
	 --ws-external \
	 --rpc-external \
	 --rpc-cors all \
	 --rpc-methods=unsafe \
     --node-key <your> \
     --base-path /tmp/bootnode1 \
     --chain lunes-staging-raw.json \
     --name lunes

[Install]
WantedBy=multi-user.target