#!/usr/bin/env bash
[Unit]
Description=Vaidador Lunes node
After=network.target

[Service]
Type=simple
Restart=always
RestartSec=1
User=root
ExecStart=/root/lunes-nightly/target/release/lunes-node \
                        --chain  /root/lunes-nightly/lunes-testnet-staging-raw.json -d /data/validator \
                        --name validator2 --validator --port 30334 --ws-port 9946 --rpc-port 9934 \
                        --bootnodes /ip4/<your-bootnode-ip>/tcp/30333/p2p/<your-bootnode-peerid> 
[Install]
WantedBy=multi-user.target