  GNU nano 6.2       /etc/systemd/system/lunes_bootnode.service                 
[Unit]
Description=Servi  o Lunes bootnode
After=network.target

[Service]
Type=simple
Restart=always
RestartSec=1
User=root
ExecStart=/root/lunes-nightly/target/release/lunes-node  \
                --chain  /root/lunes-nightly/lunes-staging-raw.json -d >
                --name testenet2  \
                --in-peers 256 \
                --ws-external --rpc-external --rpc-cors all \
                --rpc-methods=unsafe \
                --node-key <NODE_KEY>

[Install]
WantedBy=multi-user.target
